html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  height: 80px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  z-index: 7;
}
header h1, footer h1{
  position: absolute;
  left: 100px;
  top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  color: #000;
}
.log-reg {
  position: absolute;
  right: 100px;
  top: 30px;
}
a.header-log {
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   line-height: 18px;
   color: rgba(0, 0, 0, 0.8);
}
a.header-reg {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  border: 2px solid #F05030;
  box-sizing: border-box;
  border-radius: 61px;
  color: #F05030;
  margin-left: 20px;
  padding: 10px 30px;
}
header h2 {
  display: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
header h1 span, footer h1 span{
  font-weight: bold;
}
header h1 span.acad, footer h1 span.acad{
  font-weight: bold;
  color: #F05030;
}
header .user {
  position: absolute;
  right: 100px;
  top: 25px;
  display: inline-flex;
  align-items: center;
}
header .user img{
  width: 32px;
  height: 30px;
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
header .user h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.9);
}

/*путь*/
.way {
   width: 100%;
   height: 44px;
   background: rgba(0, 0, 0, 0.04);
 }
.way p {
  position: absolute;
  left: 100px;
  top: 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.9);
}
.way p a {
  color: rgba(0, 0, 0, 0.9);
}
.way p span{
  color: #F05030;
}


footer {
  width: 100%;
  height: 120px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
}
footer h1{
  position: initial;
  margin-left: 100px;
  font-size: 20px;
  line-height: 23px;
  display: block;
  margin-right: auto;
}
footer .logos {
  display: inline-flex;
  align-items: center;
}
footer .logos img {
  max-width: 160px;
  margin-left: 30px;
  margin-right: 30px;
}
footer a {
  margin-left: auto;
  margin-right: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #F05030;
}


@media only screen and (max-width: 1300px) {
  .modul-nav {
    display: none;
  }
  .menu-icon-nav {
    display: none;
  }
  .slide-page-wrap {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .slide-page-wrap a.slide-back {
    left: -3%;
  }
  .slide-page-wrap a.slide-next {
    right: -3%;
  }
  .home-wel span {
    padding-left: 50px;
  }
  .moduls-begin, .moduls-author, .moduls-result, .moduls-media {
    margin: 0 50px 20px 50px;
  }
  .moduls-media {
    margin-top: 70px;
  }
  .invitation-wrap {
    padding: 120px 50px 80px 50px;
  }

}
@media only screen and (max-width: 1200px) {
  .home-wel span {
    padding-left: 20px;
    padding-right: 20px;
  }
  a.enroll-course {
    margin: 0 auto 0 auto;
    display: block;
  }
  .home-moduls-begin, .home-moduls-author, .home-moduls-result, .home-media {
    padding: 50px 0;
  }
  .moduls-begin, .moduls-author, .moduls-result, .moduls-media {
    margin: 0 20px 20px 20px;
  }
  .moduls-media {
    margin-top: 70px;
  }
  .invitation-wrap {
    padding: 60px 20px 80px 20px;
  }
  .home-moduls-result h2 {
    margin-bottom: 60px;
  }
  footer {
    width: 100%;
    height: 150px;
    display: block;
    align-items: center;
    text-align: center;
  }
  footer h1{
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
  }
  footer .logos {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  footer .logos img {
    max-width: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  footer a {
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1140px) {
  .modul-heading {
    height: 320px;
    display: block;
    padding-top: 70px;
  }
  .heading-content {
    margin-left: 206px;
    margin-right: 206px;
    margin-bottom: 70px;
  }
  .buy {
    display: block;
    margin-left: auto;
    margin-right: auto !important;
    padding: 10px 10px;
    text-align: center;
  }
  .modul-content ul {
    width: 100%;
  }
  .modul-content a {
    margin-right: auto;
  }
  .moduls-begin, .moduls-author, .moduls-result, .moduls-media {
    margin: 0 100px 20px 100px;
  }
  .moduls-media {
    margin-top: 70px;
  }
  .moduls-author {
    margin: 0 0 20px 0;
  }
  .modul-begin, .modul-result {
    width: 47%;
  }
  .invitation-wrap {
    padding: 60px 20px 80px 20px;
  }
}
@media only screen and (max-width: 980px) {
  header h1, footer h1{
     left: 40px;
  }
  .log-reg {
    right: 40px;
  }
  header .user {
    right: 40px;
  }
  .way p {
    left: 40px;
  }
  .modul-heading {
    height: 300px;
  }
  .back {
    position: absolute;
    left: 50px;
    top: 150px;
  }
  .heading-content {
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    margin-bottom: 50px;
  }
  .modul-content {
    margin: 80px 50px 150px 50px;
  }
  .home-wel {
    background-size: auto 100%;
  }
  .home-wel:first-child:before {
    margin-top: 60%;
  }
  .home-moduls-begin h1, .home-moduls-author h1, .home-moduls-result h1, .home-media h1 {
    width: 80%;
  }
  .home-moduls-begin p, .home-moduls-author p {
    width: 90%;
  }
  .home-moduls-result h2 {
    width: 80%;
  }
  .moduls-author-wrap {
    width: 100%;
  }
  .moduls-author {
    margin: 0 100px 20px 100px;
  }
}
@media only screen and (max-width: 800px) {
  header h1, footer h1{
    left: 15px;
  }
  .log-reg {
    right: 15px;
  }
  .moduls-begin, .moduls-author, .moduls-result, .moduls-media {
    margin: 0 50px 20px 50px;
  }
  .moduls-media {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 740px) {
  .user {
    display: none !important;
  }
  .log-reg {
    display: none !important;
    text-align: center;
    left: 15px;
  }
  .menu-icon-wrapper {
    display: flex !important;
    right: 15px !important;
  }
  .slide-page-wrap a.slide-back {
    left: -7%;
  }
  .slide-page-wrap a.slide-next {
    right: -7%;
  }
  .heading-content {
    width: 80%;
    margin-bottom: 20px;
  }
  .home-wel:first-child:before {
    margin-top: 90%;
  }
  .modul-begin, .modul-result {
    width: 100%;
  }
  .modul-author {
    width: 100%;
  }
  .invitation-left {
    width: 100%;
  }
  .invitation-right {
    width: 100%;
    margin-top: 50px;
  }
  .modul-media {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  header h1 {
    font-size: 18px;
  }
  .slide-page-wrap a.slide-back {
    left: -10%;
  }
  .slide-page-wrap a.slide-next {
    right: -10%;
  }
  .modul-heading {
    height: 320px;
  }
  .slide-btns a {
    padding: 7px;
    margin-top: 10px;
    font-size: 14px;
    display: block;
    width: 100%;
  }
  .slide-btns a svg {
    height: 15px;
  }
  .home-wel:first-child:before {
    margin-top: 110%;
  }
  .home-wel span h1 {
    font-size: 28px;
  }
  .home-wel span p {
    font-size: 14px;
  }
  footer .logos img {
    max-width: 100px;
  }
}
@media only screen and (max-width: 425px) {
  .modul-heading {
    height: 350px;
  }
  .heading-content h1 {
    font-size: 29px;
  }
  .heading-content h2 {
    font-size: 20px;
  }
  header h1, footer h1{
    left: 10px;
  }
  header .user {
    right: 10px;
  }
  .way p {
    left: 10px;
  }
  .back {
    position: absolute;
    left: 20px;
  }
  .heading-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .modul-content {
    margin: 80px 20px 150px 20px;
  }
  .menu-icon-wrapper {
    right: 10px !important;
  }
  .home-wel:first-child:before {
    margin-top: 150%;
  }
  .moduls-begin, .moduls-author, .moduls-result, .moduls-media {
    margin: 0 20px 20px 20px;
  }
  .moduls-media {
    margin-top: 70px;
  }
}
@media only screen and (max-width: 375px) {
  .header-slider {
    background: #2D2D2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 30px 15px;
    height: 45px;
  }
  header.header-home-page h1 {
    display: none;
  }
  header.header-slider h1 {
    display: none;
  }
  header.header-slider .menu-icon {
    background-color: transparent;
  }
  header.header-slider .menu-icon::before {
    background-color: #fff;
    top: 0px;
    transform: rotate(45deg);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  header.header-slider .menu-icon::after {
    background-color: #fff;
    top: 0px;
    transform: rotate(-45deg);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  header.header-slider h2, .log-reg {
    display: block !important;
  }
  header.header-home-page .menu-icon-wrapper {
    display: none !important;
  }
  .content-slider {
    background: rgba(0, 0, 0, 0.1);
  }
  .way-slider {
    display: none;
  }
  .slide-page-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 634px;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 15px;
  }
  .slide-page-wrap a.slide-back {
    display: none;
  }
  .slide-page-wrap a.slide-next {
    display: none;
  }
  .slide-page {
    min-height: 200px;
  }
  hr {
    margin-top: 30px;
  }
  .slide-btns {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .modul-active {
    margin: 0;
    padding: 15px;
    width: 100%;
  }
  .modul-active-hidden {
    display: block !important;
  }
  .home-wel span {
    top: 40%;
  }
  .home-wel:first-child:before {
    margin-top: 160%;
  }
  .home-moduls-begin h1, .home-moduls-author h1, .home-moduls-result h1, .home-media h1 {
    width: 98%;
  }
  .home-moduls-begin p, .home-moduls-author p {
    width: 98%;
  }
  .home-moduls-result h2 {
    width: 98%;
  }
  footer.footer-slider {
    display: none;
  }


}

/*бургер*/

.menu-icon-wrapper {
  position: absolute;
  right: 40px;
  top: 25px;
  width: 20px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -7px;
  content: '';
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


.menu-icon-nav {
  position: absolute;
  top: 155px;
  left: 27%;
  width: 20px;
  height: 30px;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 20px;
}

.menu-icon-nav-wrap {
  position: relative;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
}

.menu-icon-nav-wrap::before {
  position: absolute;
  left: 0;
  top: -6px;
  content: '';
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-nav-wrap::after {
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #000;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon-nav-wrap.menu-icon-active {
  background-color: transparent;
}

.menu-icon-nav-wrap.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon-nav-wrap.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}